<!DOCTYPE html>
<html lang="en">

<head>
    <title>食品供应链溯源信息系统</title>
</head>
<style type="text/css">
	.row p{
		font-size: 1.5em;
	}
	
</style>
<body>
    <% include base.ejs %>
    <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">首页</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                    <p>欢迎访问食品供应链溯源信息系统</p>
                    
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
</body>
</html>